.flags-list {
    flex-grow: 1;
    padding: 20px;
    background: #ccc;
}

.flag-item {
    display: inline-block;
    text-align: center;
    width: 300px;
    padding: 10px;
    border: 2px solid #aaa;
    margin: 10px;

    &__name {

    }

    &__image {
        margin-top: 20px;
        width: 150px;
    }
}
