.flag-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.flag-item {
    text-align: center;
    margin: 1em 0.5em;

    &__name {

    }

    &__image {
        width: 15em;
        height: 9em;
    }
}
