$highlight: #51da49;
$filter-text: #eee;
$filter-bg: #333;

.app {
    display: flex;
    min-height: 100%;
}

.filter {
    background: $filter-bg;
    color: $filter-text;
    padding: 1em 3em 1em 2em;
    flex-shrink: 0;
    overflow-y: auto;
    height: 100vh;

    h2 {
        margin: 0;
        font-size: 30px;
    }

    h3 {
        font-weight: normal;
        margin-bottom: 0.5em;
    }

    &__item {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-left: 0.4em;

        label {
            cursor: pointer;
            padding: 0.2em 0.4em;
            display: inline-block;
            flex-grow: 1;
        }

        &:hover,
        &:focus-within {
            background: #222;
        }

        input:checked + label {
            color: $highlight;
        }

        input {
            outline: none;
            margin: 0;
        }
    }

    &__group {
        margin-top: 2em;
        &--center {
            text-align: center;
        }
    }

    button {
        border: 2px solid $filter-text;
        color: $filter-text;
        background: none;
        padding: 0.2em 0.5em;
        cursor: pointer;
        outline: none;
        font-size: 16px;
        &:focus,
        &:hover {
            background: $highlight;
            border-color: $highlight;
            color: $filter-bg;
            box-shadow: 2px 2px 0 0 #000;
        }
        &:active {
            position: relative;
            left: 2px;
            top: 2px;
            box-shadow: none;
        }
    }
}

.flags-list-wrapper {
    flex-grow: 1;
    padding-top: 1em;
    background: #ccc;
    overflow-y: auto;
    height: 100vh;

    h1 {
        margin: 0 0 0.5em 0;
        text-align: center;
    }
}

.powered-by {
    padding: 2em;
    background: #222;
    color: $filter-text;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        flex-shrink: 0;
    }

    img {
        height: 5em;
        margin: 0 0.5em;
    }
}

@media (max-width: 700px) {
    .flag-item__image {
        max-width: 100%;
        width: auto;
        height: auto;
    }

    .powered-by {
        padding: 0.5em;
        img {
            height: 2em;
        }
    }
}

@media (max-width: 500px) {
    .app {
        flex-wrap: wrap;
    }

    .filter {
        flex-grow: 1;
    }

    .filter,
    .flags-list-wrapper {
        height: auto;
    }
}