$highlight: #51da49;
$filter-text: #eee;
$filter-bg: #333;
$main-bg: #ccc;

.app {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .content {
        flex-grow: 1;
        display: flex;
        overflow-y: auto;
        height: 0;
    }

    .main-buttons {
        display: none;

        bottom: 0;
        width: 100%;
        align-items: stretch;

        button {
            flex-grow: 1;
            background: darken($filter-bg, 10%);
            color: $filter-text;
            padding: 0.5em;
            font-size: 20px;
            border: none;
            border-bottom-width: 2px;
            outline: none;

            &.active,
            &:hover,
            &:focus {
                background: darken($filter-bg, 5%);
                font-weight: bold;
                color: $highlight;
                border-bottom: 2px solid $highlight;
            }
        }
    }
}

.filter {
    background: $filter-bg;
    color: $filter-text;
    padding: 1em 3em 1em 2em;
    flex-shrink: 0;
    overflow-y: auto;
    height: 100vh;

    h2 {
        margin: 0 0 0.5em 0;
        font-size: 30px;
    }

    h3 {
        font-weight: normal;
        margin-bottom: 0.5em;
    }

    &__item {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-left: 0.4em;

        label {
            cursor: pointer;
            padding: 0.2em 0.4em;
            display: inline-block;
            flex-grow: 1;
        }

        &:hover,
        &:focus-within {
            background: #222;
        }

        input:checked + label {
            color: $highlight;
        }

        input {
            outline: none;
            margin: 0;
        }
    }

    &__group {
        margin-bottom: 2em;

        &:last-child {
            margin-bottom: 0;
        }

        &--center {
            text-align: center;
        }
    }

    button {
        border: 2px solid $filter-text;
        color: $filter-text;
        background: none;
        padding: 0.2em 0.5em;
        cursor: pointer;
        outline: none;
        font-size: 16px;

        &:focus,
        &:hover {
            background: $highlight;
            border-color: $highlight;
            color: $filter-bg;
            box-shadow: 2px 2px 0 0 #000;
        }

        &:active {
            position: relative;
            left: 2px;
            top: 2px;
            box-shadow: none;
        }
    }
}

.flags-list-wrapper {
    flex-grow: 1;
    padding-top: 1em;
    background: $main-bg;
    overflow-y: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    h1 {
        margin: 0 0 0.5em 0;
        text-align: center;
    }

    .powered-by {
        padding: 0.5em;
        background: #222;
        color: $filter-text;
        display: flex;
        justify-content: center;
        align-items: center;

        &__title {
            flex-shrink: 0;
        }

        img {
            height: 2em;
            margin: 0 0.5em;
        }
    }

    .flag-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: flex-start;
        flex-grow: 1;
    }

    .flag-item {
        margin: 0.5em;
        padding: 0.5em;
        display: flex;
        align-items: center;
        background: lighten($main-bg, 10%);
        cursor: pointer;

        &:hover {
            background: lighten($main-bg, 15%);
        }

        &__name {
            margin-left: 1em;
            width: 10em;
        }

        &__image {
            width: 5em;
        }
    }

    .flag-modal {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0.5em;
        background: rgba(0, 0, 0, 0.85);
        display: flex;
        flex-direction: column;
        color: #fff;

        &__image {
            max-width: 100%;
            max-height: 100%;
            min-height: 0;
            object-fit: contain;
        }

        &__image-wrapper {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 0;
        }

        &__name {
            font-size: 2em;
            text-align: center;
            margin-top: 0.5em;
        }

        &__hint {
            text-align: center;
            margin-bottom: 0.5em;
        }
    }
}

.GithubCorner {
    opacity: 0.5;
}

@media (max-width: 700px) {
    .flag-item__image {
        max-width: 100%;
        width: auto;
        height: auto;
    }
}

@media (max-width: 500px) {
    .filter,
    .flags-list-wrapper {
        height: auto;
        display: none;
    }

    .filter {
        flex-grow: 1;

        &.shown {
            display: block;
        }

        h2 {
            display: none;
        }
    }

    .flags-list-wrapper {
        &.shown {
            display: flex;
        }

        h1 {
            display: none;
        }
    }

    .app {
        .main-buttons {
            display: flex;
        }
    }
}